@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 0 0% 20%; /* #333333 */
  --muted: 56 44% 94%; /* #f6f5e8  */
  --secondary: 0 0% 14.51%; /* #252525 */
  --soft: 55 100% 97%; /* #fffef2 */
}


body{
  @apply bg-soft w-full;
}

.sort-select{
  @apply border border-secondary bg-soft min-w-[240px] rounded-sm px-1 py-1.5
}